<!DOCTYPE html>
<html>
<head th:replace="fragments/admin_header :: head"></head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/admin_sidebar :: sidebar"></div>
    <!-- Page Content Holder -->
    <div id="main-content">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

            <i class="fas fa-align-left fa-lg" id="sidebarCollapse"></i>
        </div>

        <div class="container-fluid">
            <div layout:fragment="content"></div>
            <div th:replace="fragments/admin_footer :: footer"></div>
        </div>
    </div>
</div>
</body>
</html>