<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/menu :: menu"></div>


<div class="container">
    <div class="row">
        <div class="col-md-9" layout:fragment="content"></div>
        <div class="col-md-3">
            <!--<th:block th:if="${nosidebar}">-->
            <div th:replace="fragments/sidebar :: home"></div>
            <!--</th:block>-->
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>