<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/menu :: menu"></div>


<div class="container">
    <th:block th:if="${nosidebar == null}">
    <div class="row">
        <div class="col-md-9" layout:fragment="content"></div>
        <div class="col-md-3">
            <div th:replace="fragments/sidebar :: home"></div>
        </div>
    </div>
    </th:block>


    <th:block th:if="${nosidebar != null}">
        <div layout:fragment="content"></div>
    </th:block>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>