<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div id="page" layout:fragment="content">




    <div class="action-block">
        <div class="row">
            <div class="col-md-6">
                <h4>Tag</h4>
            </div>
            <div class="col-md-6">
                <a href="/admin/tag/create" class="btn btn-primary float-right">Add new</a>
            </div>
        </div>
    </div>



    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMsg}">
        <span th:text="${successMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMsg}">
        <span th:text="${errorMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="view-block">


    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}">
            <td th:text="${tag.name}"></td>
            <td th:text="${tag.slug}">...</td>
            <td>
                <form th:action="@{/admin/tag/delete}" method="post" class="delete_form">
                    <input type="hidden" th:value="${tag.id}" name="page_id">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a th:href="@{/admin/tag/edit/(id=${tag.id})}" class="btn btn-primary">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    </div>


</div>
</body>
</html>