<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <div class="action-block">
        <div class="row">
            <div class="col-md-6">
                <h4>Edit</h4>
            </div>
            <div class="col-md-6">
                <a href="/admin/category/list" class="btn btn-dark float-right">Cancel</a>
            </div>
        </div>
    </div>

    <div class="view-block">

    <form th:object="${category}" method="POST">

        <div class="row">
            <div class="col-md-4">


                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${category.name}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                </div>

                <div class="form-group">
                    <label>Slug</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('slug')} ? is-invalid" th:field="${category.slug}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}">Error</div>
                </div>


                <div class="form-group">
                    <label>Parent</label>
                    <select class="form-control" th:field="${category.parent}">
                        <option value="0">-- Parent Category --</option>
                        <option th:each="category : ${cats}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                        >1</option>

                    </select>
                </div>


                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" th:classappend="${#fields.hasErrors('description')} ? is-invalid" th:field="${category.description}" rows="3"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
                    <small id="characters" class="form-text text-muted"></small>
                </div>


                <div class="form-group d-none">
                    <label>Image</label>
                    <input type="text" class="form-control" th:field="${category.image}" />
                </div>


                <div class="form-group">
                    <input type="file" name="file" id="img_upload" class="d-none" />
                    <button type="button" class="btn btn-primary" id="upload_image">Upload image</button>
                </div>
                <img th:src="${category.image}" class="img-fluid" id="upload_preview"/>


                <button type="submit" class="btn btn-success">Update</button>

            </div>
        </div>

    </form>

    </div>



</div>
</body>
</html>