<div class="footer text-center" th:fragment="footer">

    <hr>
    <h3>Follow me on instagram</h3>

    <div class="row">
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
        <div class="col-md-2">
            <img class="card-img-top" data-src="holder.js/100px150?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        </div>
    </div>


    <p>&nbsp;</p>
    <p>&nbsp;</p>

    Sign up to be the first to hear about the latest beauty news.

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</div>