<div id="sidebar" th:fragment="home">

    <div th:block="${profile_page.image}">
        <img class="card-img-top rounded-circle profile-img" th:src="${profile_page.image}">
    </div>



    <h4 th:text="${profile_page.title}">..</h4>
    <div th:utext="${profile_page.content}"></div>
    <hr>
    <h4>Natalia Wellness</h4>
    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModal">
        Subscribe
    </button>
    Get the inside scoop.
    <ul>
        <li>Wellness</li>
        <li>Inspiration</li>
        <li>Free tips</li>
    </ul>

</div>