<div id="sidebar" th:fragment="home">

    <div th:block="${profile_page.image}">
        <img class="card-img-top rounded-circle profile-img" th:src="${profile_page.image}">
    </div>

    <div class="text-center">
        <div class="fost">Welcome to</div>
        <h2 class="frwd">Natalia Wellness</h2>
        <div th:utext="${profile_page.metaDescription}"></div>
    </div>


    <div class="text-center subscribe-box">

    <h4 class="fost">Subscribe</h4>


        <div class="fost">to get the</div>
        <div  class="fost">inside scoop</div>

        <div class="fsc fs-16">
            Wellness <br>
            Inspiration <br>
            Free tips
        </div>

        <form th:object="${subscription}" action="/subscribe" method="post">


            <!--<div class="form-group">-->
                <!--<label>Name</label>-->
                <!--<input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${category.name}" />-->
                <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>-->
            <!--</div>-->



            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your email"
                       th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                       th:field="${subscription.email}"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
                </div>
            </div>
        </form>



    </div>


</div>