<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <h3>New post</h3>

    <form th:object="${page}" method="POST">

        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? is-invalid" th:field="${page.title}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
                </div>

                <div class="form-group">
                <label>Slug (Post URL)</label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('slug')} ? is-invalid" th:field="${page.slug}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}">Error</div>
                </div>


                <div class="form-group">
                    <label>Overview/Meta Description</label>
                    <textarea class="form-control" th:classappend="${#fields.hasErrors('metaDescription')} ? is-invalid" th:field="${page.metaDescription}" rows="3"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('metaDescription')}" th:errors="*{metaDescription}">Error</div>
                    <small id="characters" class="form-text text-muted"></small>
                </div>



                <div class="form-group">
                    <textarea class="form-control" th:field="${page.content}" rows="5"></textarea>
                </div>

            </div>
            <div class="col-md-3">


                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" th:field="${page.status}">
                        <option value="0">Draft</option>
                        <option value="1">Publish</option>
                    </select>
                </div>




                <button type="submit" class="btn btn-success">Create</button>



            </div>
        </div>


    </form>

</div>
</body>
</html>