@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');

body{
    padding-top: 100px;
    background-color: #fde9e4;
    -webkit-font-smoothing: antialiased;
}

.top-nav{
    background-color: #fff !important;
}

.fa-heart{
    color: red;
}

.post-img-wrapper{
    padding-bottom: 3px;
    border-bottom: 3px solid #000;
    margin-bottom: 10px;
}

.post-title-wrapper{
    color: #1a3151;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.nav-link{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #de9b7c;
}


/* Link */
.navbar-light .navbar-nav .nav-link {
    color: #de9b7c;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #de9b7c;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

