<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div id="page" layout:fragment="content">



    <div class="row">
        <div class="col-md-6">
            <h3>Menu</h3>
        </div>
        <div class="col-md-6">
            <a href="/admin/menu/create" class="btn btn-primary float-right">Add new</a>
        </div>
    </div>

    <hr>







            <table class="table datatable table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Parent</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="menu : ${menuList}">
                    <td><a th:href="@{/admin/menu/edit(id=${menu.id})}" th:text="${menu.name}">...</a></td>
                    <td th:text="${menu.slug}"></td>
                    <td th:text="${menu.parent?.name}"></td>
                    <td><a th:href="@{/admin/menu/delete(id=${menu.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>








</div>
</body>
</html>