<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div id="page" layout:fragment="content">


    <div class="action-block">
        <h4>Menu</h4>
    </div>



    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMsg}">
        <span th:text="${successMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMsg}">
        <span th:text="${errorMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="view-block">


           <div class="row">
               <div class="col-md-4">







                   <div id="accordion">
                       <div class="card">
                           <div class="card-header" id="headingOne">
                               <h5 class="mb-0">
                                   <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       Pages
                                   </button>
                               </h5>
                           </div>

                           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                               <div class="card-body">

                                   <form th:object="${menu}" action="/admin/menu/create" method="POST">

                                       <input type="hidden" name="type" value="page">
                                       <div class="form-group">
                                       <select class="form-control" th:field="${menu.slug}">
                                           <option th:each="page : ${pages}"
                                                   th:text="${page.title}"
                                                   th:value="${page.slug}"
                                           >1</option>
                                       </select>
                                   </div>

                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Link text" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${menu.name}" />
                                           <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                                       </div>

                                       <button type="submit" class="btn btn-success">Add to menu</button>
                                   </form>

                               </div>
                           </div>
                       </div>
                       <div class="card">
                           <div class="card-header" id="headingTwo">
                               <h5 class="mb-0">
                                   <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       Posts
                                   </button>
                               </h5>
                           </div>
                           <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                               <div class="card-body">

                                   <form th:object="${menu}" action="/admin/menu/create" method="POST">

                                       <input type="hidden" name="type" value="post">
                                       <div class="form-group">
                                           <select class="form-control" th:field="${menu.slug}">
                                               <option th:each="post : ${posts}"
                                                       th:text="${post.title}"
                                                       th:value="${post.slug}"
                                               >1</option>
                                           </select>
                                       </div>

                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Link text" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${menu.name}" />
                                           <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                                       </div>

                                       <button type="submit" class="btn btn-success">Add to menu</button>
                                   </form>

                               </div>
                           </div>
                       </div>
                       <div class="card">
                           <div class="card-header" id="headingThree">
                               <h5 class="mb-0">
                                   <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Categories
                                   </button>
                               </h5>
                           </div>
                           <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                               <div class="card-body">

                                   <form th:object="${menu}" action="/admin/menu/create" method="POST">

                                       <input type="hidden" name="type" value="cat">
                                       <div class="form-group">
                                           <select class="form-control" th:field="${menu.slug}">
                                               <option th:each="category : ${categories}"
                                                       th:text="${category.name}"
                                                       th:value="${category.slug}"
                                               >1</option>
                                           </select>
                                       </div>

                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Link text" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${menu.name}" />
                                           <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                                       </div>

                                       <button type="submit" class="btn btn-success">Add to menu</button>
                                   </form>

                               </div>
                           </div>
                       </div>
                   </div>

               </div>

               <div class="col-md-8">



                       <ul class="sortable">
                           <li th:each="menu : ${menuList}" class="menu_item"
                               th:attr="data-menu-id=${menu.id},data-parent-id=${menu.parent?.id}">
                               <span th:text="${menu.name}"></span>
                               <span class="float-right">
                                   <i class="fas fa-trash-alt menu_delete"
                                      th:attr="data-menu-id=${menu.id}"></i>
                               </span>
                               <ul class="sortable" th:if="${menu.children.empty}"></ul>
                               <ul class="sortable" th:if="${!menu.children.empty}">
                                   <li th:each="childMenuItem : ${menu.children}" class="menu_item"
                                       th:attr="data-menu-id=${childMenuItem.id},data-parent-id=${childMenuItem.parent?.id}">
                                       <span th:text="${childMenuItem.name}"></span>
                                       <span class="float-right"><i class="fas fa-trash-alt menu_delete"
                                                                    th:attr="data-menu-id=${childMenuItem.id}"></i></span>
                                   </li>
                               </ul>
                           </li>
                       </ul>

               </div>
           </div>
    </div>

</div>
</body>
</html>