<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">


    <div class="row">
        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>

        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>


        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>


        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>


        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>


        <div class="col-md-6">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div>LIFE STYLE</div>
            <h2><a href="#">This is some title</a></h2>

        </div>
    </div>





</div>
</body>
</html>