<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">

    <h1 th:text="${post.title}"></h1>

    <div th:block="${post.image}">
        <img class="image-fluid" th:src="${post.image}">
    </div>

    <div th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></div>



    <div th:utext="${post.content}"></div>


    <div id="disqus_thread"></div>



</div>
</body>
</html>