<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div id="page" layout:fragment="content">

    <h3>Settings</h3>

    <div class="row">
        <div class="col-md-6">


            <form th:object="${setting}" method="POST">


                <div class="form-group">
                    <label>Name</label>
                    <select class="form-control" th:field="${setting.name}">
                        <option value="home_page_post">Home page post</option>
                    </select>
                </div>



                <div class="form-group">
                    <label>Value</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('value')} ? is-invalid" th:field="${setting.value}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Error</div>
                </div>

                <button type="submit" class="btn btn-success">Create</button>


            </form>

        </div>
    </div>

    <hr>



    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="setting : ${settings}">
            <td th:text="${setting.name}"></td>
            <td th:text="${setting.value}"></td>
            <td><a th:href="@{/admin/setting/delete(id=${setting.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>